<h1>{{ titulo }}</h1>
<div>
    <div id="listaProductos">
    </div>

    <div id="detallesProducto"></div>
</>

{{!-- <script src="/js/products.js"></script> --}}

<script>
window.onload = function() {
    let script = document.createElement('script');
    script.src = "/js/products.js";
    document.body.appendChild(script);
}
</script>