{{#if login}}
<div class="welcome-message">
    <p>Bienvenido, {{userData.firstName}} {{userData.lastName}}!</p>
</div>
{{/if}}

<h2>{{ titulo }}</h2>
<div>
    <div id="listaProductos">
    </div>

    <div id="detallesProducto"></div>
    </>

    <script>
        window.onload = function () {
            let script = document.createElement('script');
            script.src = "/js/products.js";
            document.body.appendChild(script);
        }
    </script>