<div>
    <h2>Lista de Productos</h2>
    <ul id="realTimeProductsList">
    
    </ul>
    <h3>Agregar Producto</h3>
    <form id="addProductForm">
        <input type="text" id="title" placeholder="Nombre del producto" required>
        <input type="text" id="description" placeholder="Description del producto" required>
        <input type="text" id="status" placeholder="Status del producto" required>
        <input type="number" id="stock" placeholder="Stock del producto" required>
        <input type="text" id="code" placeholder="Codigo del producto" required>
        <input type="text" id="thumbnail" placeholder="Thumbnail (imagen) del producto" required>
        <input type="number" id="price" placeholder="Precio del producto" required>
        <button type="submit">Agregar Producto</button>
    </form>
    <h3>Eliminar Producto</h3>
    <form id="deleteProductForm">
        <input type="number" id="deleteProductId" placeholder="ID del producto a eliminar" required>
        <button type="submit">Eliminar Producto</button>
    </form>
</div>
