<div class="registroStyle">
    <h2>Registro</h2>
    <form id="registroForm" action="/api/users" method="POST">
        <input type="text" id="first_name" name="first_name" placeholder="Nombre">
        <input type="text" id="last_name" name="last_name" placeholder="Apellido">
        <input type="text" id="age" name="age" placeholder="Edad">
        <input type="text" id="email" name="email" placeholder="Email">
        <input type="password" id="password" name="password" placeholder="Contraseña">
        <button type="submit">Registrarme</button>
    </form>
</div>
<script src="/js/register.js"></script>