<nav>
    <h1>Marca</h1>
    <ul>
        {{#if login}}
        <form action="/api/sessions/logout" method="GET">
            <button type="submit">Cerrar sesión</button>
        </form>
        {{/if}}
        <li>Contacto</li>
        <li>Nosotros</li>
    </ul>
</nav>